{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block style %}
    {% endblock %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'case/img/logo.svg' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'case/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <aside>
       <span class="logo"> La</span>
       <img style="float: right; width: 60px; margin-right: 25px;" src="{% static 'case/img/logo.svg' %}">
       
        <ul>
            
            <a style="text-decoration: none;" href="{% url 'case-home-employee' %}"><li><i class="fas fa-gavel"></i>Главная</li></a>
            <a style="text-decoration: none;" href="{% url 'case-list' %}"><li><i class="fas fa-book"></i>Список дел</li></a>
            <a style="text-decoration: none;" href="#"><li><i class="fas fa-sign-out-alt"></i>Выход</li></a>
            
        </ul>
    </aside>
    
    {% block content %}
    {% endblock %}
   
    {% block script %}
    {% endblock %}
    
</body>
</html>